<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Project</title>

  
    <link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/home.css">
    <script src="./js/present-sources.js" defer></script>
    <script src="./js/present.js" defer></script>
    <script src="./js/app.js" defer></script>
    <script src="./js/main.js" defer></script>
    <script src="./js/script.js" defer></script>

</head>
<header>
    <nav class="custom-navbar" >
        <div class="container-mainn">
            <a class="logo" href="#">Web Project</a>         
            <ul class="nav ">
                <li class="item">
                    <a class="link" href="/index">Home</a>
                </li>
                <li class="item">
                    <a class="link" href="#about">About</a>
                </li>
                <li class="item">
                    <a class="link" href="/sched">Schedule</a>
                </li>
                <li class="item">
                    <a class="link" href="/gallery">Gallery</a>
                </li>
                <li class="item">
                    <a class="link" href="/feedback">Feedback</a>
                </li>
                <li class="item">
                    <a class="link" href="/game">Tictactoe</a>
                </li>

            </ul>
           
        </div>          
    </nav>
    </header>
<div class="landing-page-main" id="home">
    <div class="overlay"></div>
       <div class="landing-page-contents">
           <div class="landing-page-top-content">
              <div class="top-content-group">
               
               <h1 class="container1">Wanna Play Tictactoe</h1>
             
               <div class="landing-button-group">
                   
                   <!-- <span><i class="fas fa-play-circle" style="font-size: 30px;"></i><span>Play video</span></span> -->
               </div>
              </div>
           </div>
           <!-- <div class="landing-page-bottom-content">
               <h3>23,800 tress planted</h3>
               <hr>
               <h3>5840 donations collected</h3>
           </div> -->
       </div>
   </div>
   <h1 class="container1" style="margin-top: 30px;">Are you Ready?</h1>
   <div id="grid" style="margin-top: 30px;">
    <div id="b1" data-index="0"></div>
    <div id="b2" data-index="1"></div>
    <div id="b3" data-index="2"></div>

    <div id="b4" data-index="3"></div>
    <div id="b5" data-index="4"></div>
    <div id="b6" data-index="5"></div>

    <div id="b7" data-index="6"></div>
    <div id="b8" data-index="7"></div>
    <div id="b9" data-index="8"></div>

    <div id="b10" data-index="9"></div>
    <div id="b11" data-index="10"></div>
    <div id="b12" data-index="11"></div>

    <div id="b13" data-index="12"></div>
    <div id="b14" data-index="13"></div>
    <div id="b15" data-index="14"></div>
    <div id="b16" data-index="15"></div>
  </div >
  <div class='res'><button onclick="myfunc_2()" style="width:100px; height:40px; margin:50px; background-color:#695aa6; "><a href style="text-decoration:none; color:white;">Reset</a></button>
</div>
  <style>
    .res{
        text-align: center;
    }
  </style>
  <div id="results"></div>
<footer class="footer" id="contact1" style="height: 30vh; background-color:#695aa6; display: grid; place-items:center; place-content:center; width: 100%;">
    <h2>CONTACT Me @ </h2>   
       <div class="address-main" style="width: 100%; height:70%;" >
<div class="address-sub" style="width: 100%; line-height:1.25;">
<p>
   <i class="fa-solid fa-location-dot"></i> 409 W College Street APT 3, Carbondale
</p>
<p>
   <i class="fa-solid fa-envelope"></i> shivateja.ravula@siu.edu
</p>
<p>
   <i class="fa-solid fa-phone" style="margin: 0px 3px;"></i>6185277181
</p>
</div>
       </div>

 </footer>  <blockquote cite="html.org" style="text-align: center;">Made with passion on HTML and CSS</blockquote>