<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Project</title>

  
    <link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/home.css">
    <link rel="stylesheet" href="./css/style.css">
    
    <script src="./js/present-sources.js" defer></script>
    <script src="./js/present.js" defer></script>
    <script src="./js/app.js" defer></script>
    <script src="./js/main.js" defer></script>
    <script src="./js/script.js" defer></script>
   

</head>
<body>


    <header>
        <nav class="custom-navbar" >
            <div class="container-mainn">
                <a class="logo" href="#">Web Project</a>         
                <ul class="nav ">
                    <li class="item">
                        <a class="link" href="/index">Home</a>
                    </li>
                    <li class="item">
                        <a class="link" href="#about">About</a>
                    </li>
                    <li class="item">
                        <a class="link" href="/sched">Schedule</a>
                    </li>
                    <li class="item">
                        <a class="link" href="/gallery">Gallery</a>
                    </li>
                    <li class="item">
                        <a class="link" href="/feedback">Feedback</a>
                    </li>
                    <li class="item">
                        <a class="link" href="/game">Tictactoe</a>
                    </li>
   
                </ul>
               
            </div>          
        </nav>
        </header>

    <div class="landing-page-main" id="home">
     <div class="overlay"></div>
        <div class="landing-page-contents">
            <div class="landing-page-top-content">
               <div class="top-content-group">
                
                <h1 class="container1">Scroll Down to win the gifts</h1>
              
                <div class="landing-button-group">
                   
                    <!-- <span><i class="fas fa-play-circle" style="font-size: 30px;"></i><span>Play video</span></span> -->
                </div>
               </div>
            </div>
            <!-- <div class="landing-page-bottom-content">
                <h3>23,800 tress planted</h3>
                <hr>
                <h3>5840 donations collected</h3>
            </div> -->
        </div>
    </div>
    <div style="height: 80vh; display:flex; justify-content:center; align-items:center; flex-direction:column;">
        <h1 id="title" style="margin-bottom: 10vh; font-size:8vh;">Click a present to open it:</h1>
      <div id="presents"></div>
  
           </div>
           <footer class="footer" id="contact1" style="height: 30vh; background-color:#695aa6; display: grid; place-items:center; place-content:center; width: 100%;">
            <h2>CONTACT Me @ </h2>   
               <div class="address-main" style="width: 100%; height:70%;" >
        <div class="address-sub" style="width: 100%; line-height:1.25;">
        <p>
           <i class="fa-solid fa-location-dot"></i> 409 W College Street APT 3, Carbondale
        </p>
        <p>
           <i class="fa-solid fa-envelope"></i> shivateja.ravula@siu.edu
        </p>
        <p>
           <i class="fa-solid fa-phone" style="margin: 0px 3px;"></i>6185277181
        </p>
        </div>
     </footer> 
      <blockquote cite="html.org" style="text-align: center;">Made with passion on HTML and CSS</blockquote>
    </body>
    </html>