<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Project</title>

  
    <link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/home.css">
    <script src="./js/present-sources.js" defer></script>
    <script src="./js/present.js" defer></script>
    <script src="./js/app.js" defer></script>
    <script src="./js/main.js" defer></script>
    <script src="./js/script.js" defer></script>

</head>
<body>


    <header>
        <nav class="custom-navbar" >
            <div class="container-mainn">
                <a class="logo" href="#">Web Project</a>         
                <ul class="nav ">
                    <li class="item">
                        <a class="link" href="/index">Home</a>
                    </li>
                    <li class="item">
                        <a class="link" href="#about">About</a>
                    </li>
                    <li class="item">
                        <a class="link" href="/sched">Schedule</a>
                    </li>
                    <li class="item">
                        <a class="link" href="/gallery">Gallery</a>
                    </li>
                    <li class="item">
                        <a class="link" href="/feedback">Feedback</a>
                    </li>
                    <li class="item">
                        <a class="link" href="/game">Tictactoe</a>
                    </li>
   
                </ul>
               
            </div>          
        </nav>
        </header>

    <div class="landing-page-main" id="home">
     <div class="overlay"></div>
        <div class="landing-page-contents">
            <div class="landing-page-top-content">
               <div class="top-content-group">
               
                <h1 class="container1">View my Schedule</h1>
              
              
               </div>
            </div>
            <!-- <div class="landing-page-bottom-content">
                <h3>23,800 tress planted</h3>
                <hr>
                <h3>5840 donations collected</h3>
            </div> -->
        </div>
    </div>

   
    <section class="container-sheet" id="Schedule">
        <h1>MY SCHEDULE</h1>
        <q>Time management is life management</q>
        <table border="5" class="table-h" cellspacing="0" align="center" style=" border:none; outline: none; border-left: transparent; border-right:transparent;width: 100%; ">
      
            <tr style="background-color: #695aa6; ">
                <th align="center" height="50"
                    width="100"><br>
                    <b>Day/Period</b>
                </th>
                <th align="center" height="50"
                    width="100">
                    <b>I<br>9:30-10:20</b>
                </th>
                <th align="center" height="50"
                    width="100">
                    <b>II<br>10:20-11:10</b>
                </th>
                <th align="center" height="50"
                    width="100">
                    <b>III<br>11:10-12:00</b>
                </th>
                <th align="center" height="50"
                    width="100">
                    <b>IV<br>12:00-12:40</b>
                </th>
                <th align="center" height="50"
                    width="100">
                    <b>V<br>12:40-1:30</b>
                </th>
                <th align="center" height="50"
                    width="100">
                    <b>VI<br>1:30-2:20</b>
                </th>
                <th align="center" height="50"
                    width="100">
                    <b>VII<br>2:20-3:10</b>
                </th>
                
            </tr>
            <tr>
                <td align="center" height="50">
                    <b>Monday</b></td>
                <td align="center" height="50">Wakeup</td>
                <td align="center" height="50">Breakfast</td>
                <td align="center" height="50">Dining</td>
                <td align="center" height="50">Class</td>
                <td align="center" height="50">Office hours</td>
                <td align="center" height="50">Dinner</td>
                <td align="center" height="50">Sleep</td>
               
            </tr>
            <tr style="background-color: #ddd;">
                <td align="center" height="50">
                    <b>Tuesday</b>
                </td>
                
                <td align="center" height="50">Wakeup</td>
                <td align="center" height="50">Breakfast</td>
                <td align="center" height="50">Class</td>
                <td align="center" height="50">Yoga</td>
                <td align="center" height="50">Dining</td>
                <td align="center" height="50">Dinner</td>
                <td align="center" height="50">Sleep</td>
               
            </tr>
            <tr>
                <td align="center" height="50">
                    <b>Wednesday</b>
                </td>
                <td align="center" height="50">Wakeup</td>
                <td align="center" height="50">Breakfast</td>
                <td align="center" height="50">Class</td>
                <td align="center" height="50">Yoga</td>
                <td align="center" height="50">Office Hours</td>
                <td align="center" height="50">Dinner</td>
                <td align="center" height="50">Sleep</td>
            </tr>
            <tr style="background-color: #ddd;" >
                <td align="center" height="50">
                    <b>Thursday</b>
                </td>
                <td align="center" height="50">Wakeup</td>
                <td align="center" height="50">Breakfast</td>
                <td align="center" height="50">Office Hours</td>
                <td align="center" height="50">Office Hours</td>
                <td align="center" height="50">Dining</td>
                <td align="center" height="50">Dinner</td>
                <td align="center" height="50">Sleep</td>
            </tr>
            <tr>
                <td align="center" height="50">
                    <b>Friday</b>
                </td>
                <td align="center" height="50">Wakeup</td>
                <td align="center" height="50">Breakfast</td>
                <td align="center" height="50">Class</td>
                <td align="center" height="50">Sports</td>
                <td align="center" height="50">Sports</td>
                <td align="center" height="50">Dinner</td>
                <td align="center" height="50">Sleep</td>
            </tr>
            <tr style="background-color: #ddd;">
                <td align="center" height="50">
                    <b>Saturday</b>
                </td>
                <td align="center" height="50">Wakeup</td>
                <td align="center" height="50">Breakfast</td>
                <td align="center" height="50">Yoga</td>
                <td align="center" height="50">Sports</td>
                <td align="center" height="50">Sports</td>
                <td align="center" height="50">Dinner</td>
                <td align="center" height="50">Sleep</td>
            </tr>
        </table>
    </section>
  
    




    <footer class="footer" id="contact1" style="height: 30vh; background-color:#695aa6; display: grid; place-items:center; place-content:center; width: 100%;">
        <h2>CONTACT Me @ </h2>   
           <div class="address-main" style="width: 100%; height:70%;" >
   <div class="address-sub" style="width: 100%; line-height:1.25;">
   <p>
       <i class="fa-solid fa-location-dot"></i> 409 W College Street APT 3, Carbondale
   </p>
   <p>
       <i class="fa-solid fa-envelope"></i> shivateja.ravula@siu.edu
   </p>
   <p>
       <i class="fa-solid fa-phone" style="margin: 0px 3px;"></i>6185277181
   </p>
   </div>
           </div>
   
     </footer>  <blockquote cite="html.org" style="text-align: center;">Made with passion on HTML and CSS</blockquote>
</body>
</html>